:root{
    --viva-magenta: rgb(190,52,85,100);
    --hover-background-color: #f0f0f0;
    --light-gray: #f9f9f9;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body, html{
    height: 200vh;
    position: relative;
}

html::-webkit-scrollbar{
    width: 7px;
}

html::-webkit-scrollbar-thumb{
    background-color: black;
}

html::-webkit-scrollbar-track{
    background-color: white;
}

.top-bar{
    background-color: var(--viva-magenta);
    color: #fff;
    padding: 8px 0 13px;
    text-align: center;
    font-weight: 500;
    font-size: 0.87rem;
    letter-spacing: 1px;
}

.fa-truck{
    margin-right: 15px;
}

/*-----HEADER-----*/

header{
    background-color: #fff;
    text-transform: uppercase;
    position: sticky;
    z-index: 1000;
    top: 0px;
    box-shadow: 5px 0px 10px rgb(0, 0, 0, 0.1);
}

.main-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1420px;
    padding: 15px 15px 10px 15px;
    margin: auto;
    
}
.main-menu-section-list{
    list-style: none;
    display: flex;
}

.main-menu-section-list li{
    margin: 0 15px;
}

.main-menu-section-list-item
{
    cursor: pointer;
    text-align: center;
}

.fa-phone, .fa-message, .fa-location-dot, .fa-magnifying-glass, .fa-user, .fa-cart-shopping{
    font-size: 1.2rem;
    margin: 0 10px 10px 10px;
}

.main-menu-section-list-item > p
{
    font-size: 0.65rem;
    font-weight: 300;
}

.logo img{
    width: 100px;
}

/*-----NAVIGATION-----*/

.main-menu-nav-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    list-style: none;
}

.main-menu-nav-option{
    padding: 15px 17px;
    font-size: 0.85rem;
    letter-spacing: 2px;
    cursor: pointer;
}

.main-menu-nav-option:hover{
    background-color: var(--hover-background-color);
}

/*-----CONTENT-----*/


.main-banner > img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.slider{
    max-width: 85px;
    margin: auto;
    height: 19px;
    text-align: end;
}

.slider-dot{
    display: inline-block;
    margin-right: 10px;
    color: lightgray;
    cursor: pointer;
}

.slider-dash{
    display: inline-block;
    margin-right: 10px;
    color: #000;
    cursor: pointer;
}

.fa-circle{
    font-size: 0.5rem;
    margin-right:-5px;
    vertical-align: 1rem;
}

/*-----CATEGORY-SLIDER-1-----*/

.categories-v1{
    margin-top: 70px;
    margin-left: 20px;
}

.categories-v1-title-list{
    display: flex;  
    justify-content: center;
    list-style: none;
}

.categories-v1-title-list > li{
    margin-right: 1rem;
}

.categories-v1-title{
    font-size: 1.3rem;
    padding: 0 0.3rem 0.5rem;
    cursor: pointer;
}

.categories-v1-title-choosen{
    padding-bottom: 0.3rem;
    border-bottom: 0.2rem solid var(--viva-magenta);
}

.categories-v1-title:hover{
    padding-bottom: 0.3rem;
    border-bottom: 0.2rem solid var(--viva-magenta);
}

.categories-v1-option-list
{
    margin-top: 15px;
    display: flex;  
    list-style: none;
}

.categories-v1-option{
    font-size: 1rem;
    cursor: pointer;
    width: 13%;
    margin-right: 0.8rem;
}

.categories-v1-option > img{
    border-radius: 50%;
    width: 100%;
}

.categories-v1-option > p{
    text-align: center;
}

/*-----HIGHLIGHTED-CATEGORIES-----*/

.highlighted-categories{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--light-gray);
    width: 1390px;
    height: 1084px;
    padding: 0 180px;
    margin-top: 70px;
    box-sizing: border-box;
    position: relative;
}

.highlighted-categories-boxes{
    display: flex;
}

.highlighted-categories-box{
    width: 50%;
}

.highlighted-categories-premium{
    margin-top: 70px;
    width: 485px;
}

.highlighted-categories-flowergarden, .highlighted-categories-engagement{
    width: 490px;
    margin-left: 25px;
}

.highlighted-categories-flowergarden{
    margin-top: 150px;
}

.highlighted-categories-engagement{
    margin-top: 95px;
}

.highlighted-categories-image > img{
    width: 100%;
}

.highlighted-categories-title-title{
    margin-top: 65px;
}

.highlighted-categories-title-title > p{
    font-size: 2.2rem;
}

.highlighted-categories-title-description{
    margin-top: 5px;
    width: 400px;
}

.highlighted-categories-title-description > p{
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
}

.highlighted-categories-image-title {
    margin-top: 8px;
}

.highlighted-categories-image-title > p{
    font-size: 1.55rem;
}

.highlighted-categories-image-description > p{
    font-size: 0.93rem;
    font-style: italic;
}

/*-----CAROUSEL-RECOMMENDED-----*/

.carousel{
    width: 98.5vw;
    margin-left: 15px;
    margin-bottom: 70px;
}

.carousel-title{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    z-index : 1;
    margin-top: 35px;
}

.carousel-title::before{
    content: "";
    position: absolute;
    left: 15%;
    bottom: -10px;
    width: 75%;
    border-bottom: solid 1px #000;
}

.carousel-title > p{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
}

.carousel-list{
    margin-top: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    padding-bottom: 75px;
    overflow: hidden;
}

.carousel-list > li
{
    list-style: none;
    margin-right: 5px;
}

.carousel-list-object
{
    position: relative;
    width: 16.1vw;
    aspect-ratio: 1/1;
}

.carousel-list-object-image > img
{
    position: absolute;
    width: 100%;
}

.product-carates{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 0.7rem;
}

.fa-gem{
    font-size: 0.8rem;
    margin-left: 0.6rem;
}

.product-label{
    position: absolute;
    bottom: 15px;
    left: 15px;
    text-transform: uppercase;
    padding: 7px 10px;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.product-label > p{
    color: #fff;
    font-size: 0.65rem;
    font-weight: 600;
}

.carousel-list-object-title > p{
    font-size: 0.86rem;
    color: #000;
    position: absolute;
    top: 16.5vw;
}

.carousel-list-object-price > p{
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: #000;
    position: absolute;
    top: 18.5vw;
}

/*-----SECTION-CATEGORY-----*/

.section-category{
    margin: 50px 15px 0px 20px;
    display: flex;
    justify-content: space-between;
}

.section-category-banner > img{
    width: 48vw;
}




