:root{
    --viva-magenta: rgb(190,52,85,100);
    --hover-background-color: #f0f0f0;
    --light-gray: #f9f9f9;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body, html{
    height: 200vh;
    position: relative;
}

.top-bar{
    background-color: var(--viva-magenta);
    color: #fff;
    padding: 8px 0 13px;
    text-align: center;
    font-weight: 500;
    font-size: 0.87rem;
    letter-spacing: 1px;
}

.fa-truck{
    margin-right: 15px;
}

/*-----HEADER-----*/

header{
    background-color: #fff;
    text-transform: uppercase;
    position: sticky;
    z-index: 1000;
    top: 0px;
    box-shadow: 5px 0px 10px rgb(0, 0, 0, 0.1);
}

.main-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1420px;
    padding: 15px 15px 10px 15px;
    margin: auto;
    
}
.main-menu-section-list{
    list-style: none;
    display: flex;
}

.main-menu-section-list li{
    margin: 0 15px;
}

.main-menu-section-list-item
{
    cursor: pointer;
    text-align: center;
}

.fa-phone, .fa-message, .fa-location-dot, .fa-magnifying-glass, .fa-user, .fa-cart-shopping{
    font-size: 1.2rem;
    margin: 0 10px 10px 10px;
}

.main-menu-section-list-item p
{
    font-size: 0.65rem;
    font-weight: 300;
}

.logo img{
    width: 100px;
}

/*-----NAVIGATION-----*/

.main-menu-nav-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    list-style: none;
}

.main-menu-nav-option{
    padding: 15px 17px;
    font-size: 0.85rem;
    letter-spacing: 2px;
    cursor: pointer;
}

.main-menu-nav-option:hover{
    background-color: var(--hover-background-color);
}

/*-----CONTENT-----*/


.main-banner > img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.slider{
    max-width: 85px;
    margin: auto;
    height: 19px;
    text-align: end;
}

.slider-dot{
    display: inline-block;
    margin-right: 10px;
    color: lightgray;
    cursor: pointer;
}

.slider-dash{
    display: inline-block;
    margin-right: 10px;
    color: #000;
    cursor: pointer;
}

.fa-circle{
    font-size: 0.5rem;
    margin-right:-5px;
    vertical-align: 1rem;
}

/*-----CATEGORY-SLIDER-1-----*/

.categories-v1{
    margin-top: 70px;
    margin-left: 20px;
}

.categories-v1-title-list{
    display: flex;  
    justify-content: center;
    list-style: none;
}

.categories-v1-title-list > li{
    margin-right: 1rem;
}

.categories-v1-title{
    font-size: 1.3rem;
    padding: 0 0.3rem 0.5rem;
    cursor: pointer;
}

.categories-v1-title-choosen{
    padding-bottom: 0.3rem;
    border-bottom: 0.2rem solid var(--viva-magenta);
}

.categories-v1-title:hover{
    padding-bottom: 0.3rem;
    border-bottom: 0.2rem solid var(--viva-magenta);
}

.categories-v1-option-list
{
    margin-top: 15px;
    display: flex;  
    list-style: none;
}

.categories-v1-option{
    font-size: 1rem;
    cursor: pointer;
    width: 13%;
    margin-right: 0.8rem;
}

.categories-v1-option > img{
    border-radius: 50%;
    width: 100%;
}

.categories-v1-option > p{
    text-align: center;
}

/*-----HIGHLIGHTED-CATEGORIES-----*/

.highlighted-categories
{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--light-gray);
    width: 1380px;
    aspect-ratio: 5/4;
    position: relative;
}

.highlighted-categories-box
{
    margin-left: 13%;
    margin-right: 13%;
}

.highlighted-categories-premium
{
    width: 485px;
    position: relative;
    left: 0px;
}

.highlighted-categories-flowergarden
{
    position: relative;
    width: 490px;
    right: 0px;
}

.highlighted-categories-engagement
{
    position: relative;
    width: 490px;
    right: 0px;
}

.highlighted-categories-image > img
{
    width: 100%;
}

.highlighted-categories-title-title > p
{
    font-size: 2rem;
}

.highlighted-categories-title-description
{
    margin-top: 5px;
    width: 400px;
}

.highlighted-categories-title-description > p
{
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
}

.highlighted-categories-image-title > p
{
    font-size: 1.5rem;
}

.highlighted-categories-image-description > p
{
    font-style: italic;
}
